* {margin:0; padding:0; box-sizing: border-box;}

body {
    background: linear-gradient(45deg, #464DA5 0%, #7B4EA1 50%, #A84D92 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    max-width: 100%;
}

h1 {
    font-family: 'HussarWoodtypeUltra', sans-serif;
    padding-bottom: 25px;
}

/*IDs*/

#form-box {
    background-color: #FFF;
    padding: 250px 100px;
    text-align: center;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.384);
    max-width: 600px;
}

#div-remember {
    font-size: .8em;
    text-align: left;
    margin-left: 10px;
}

#label-checkbox {
    color: rgba(0, 0, 0, 0.61);
}

#remember-checkbox:checked + #label-checkbox {
    color: #c44c8aa6;
}

#login-button {
    padding: 21px;
    width: 350px;
    color: white;
    font-weight: bold;
    outline: none;
    border-color: transparent;
    margin-top: 25px;
    background-color: #C44C8A;
    font-size: .8em
}

/*CLASSES*/

.form-control {
    padding: 10px;
    position: relative;
}

.form-control input {
    padding: 15px;
    width: 350px;
    text-indent: 35px;
    font-size: .8em;
    border-color: transparent;
    background-color: #e7e7e7;
}

.form-control input:focus {
    background-color: #d8d8d8;
    outline: transparent;
    border-color: transparent;
}

.form-control i {
    position: absolute;
    top: 25px;
    left: 28px;
    color: rgba(0, 0, 0, 0.425);
    font-size: 1em;
}